<div id="<%= dom_id endereco %>">
  <p>
    <strong>Logradouro:</strong>
    <%= endereco.logradouro %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= endereco.cep %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= endereco.cliente_id %>
  </p>

</div>
